html {
  font-family: sans-serif;
  background-color: #f6f8fa;
}

.logo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.logo h1 span {
  position: relative;
  top: 9px;
  right: 5px;
  color: #33b277;
  font-family: fantasy;
  font-size: 2.5rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
}

/* pre {
  padding-top: .5rem;
} */

footer {
  text-align: center;
  font-size: 0.875rem;
  color: #a0aec0;
}
